<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @post.title %>
    <%= @post.short_description %>

  </h1>
  <p class="lead">
    <%= @post.short_description %> |
    <%= @post.published_at %>
  </p>

  <p class="">
    <%= @post.author.email %>
  </p>

  <div class="card-body">
    <%= @post.content %>
  </div>
  <br/>

  <div class="section comments">
    <div class="container">
      <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
      <%= render @post.comments %>
    </div>
  </div>

  <br/>
</div>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
