<p style="color: green"><%= notice %></p>
<% content_for :page_title, @post.title %>
<section class="section">
  <br/>
  <h1><%= @post.title %></h1>
  <div class="col-6">
    <%= @post.author.email %>
  </div>
  <div class="col-6">
    <%= @post.published_at %>
  </div>
  <br/><br/>
  <div class="col">
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-primary' %>
    <%= link_to "Delete", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
  </div>
</section>
<br/><hr/><br/>
<section class="section">
  <%= @post.content %>
</section>

<br/>
<hr/><br/>

<div>
  <%= link_to "Back to posts", posts_path, class: 'btn btn-secondary' %>
</div>

<br/><br/>
